#DATABASE CONFIG
DATABASE_URL="database-url"

#AUTHENTICATION CONFIG
JWT_SECRET="your_jwt_secret_key"
ROLES_KEY ="your_roles_key"

#REDIS CONFIG
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_TTL=60000

#RESEND EMAIL
RESEND_API_KEY=re_xxxxxxx

#SYSTEM LISTENS TO:
PORT=3000